.attendee-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .attendee-container {
    margin-top: 10px;
  }

  .form-label {
    width: 100%;
  }
