.card-container {
  display: flex;
  justify-content: right;
}

.card {
  width: 320px;
}

.btn-color {
  background-color: white !important;
  color: black !important;
  border: 2px solid black !important;
} 

.custom-badge { 
  background-color: #ff5733; /* Replace with your desired color */ 
  color: white; /* Optional: Set text color */ 
}