.ms-4-style {
  margin-left: 5.5rem !important;
}

.ms-2-style {
  margin-left: 0.5rem !important;
}

.me-5-style {
  margin-right: 4rem !important;
}

.section-btn {
  width: 150px;
  margin-top: 29px;
}
